@font-face {
	font-family: MnDown;
	src: url('../font/MnDown.ttf') format('truetype');
}
@font-face {
    font-family: MonTaurus;
    src: url('../font/MonTaurus.ttf') format('truetype');
}
@font-face {
    font-family: MonAstronCTT;
    src: url('../font/MonAstronCTT.ttf') format('truetype');
}

body {
    font-family: "MonTaurus","Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
    background-color: white;
}
#home_desc {
    font-family: MnDown;
    color: white;
}

section h1 {
    font-family: MonAstronCTT;
    color: #33b5e5;
    font-size: 3rem;
    background-position: center;
    background-repeat:no-repeat;
    height:92px;
}

button.close span,.order-form {
    font-family:"Roboto";
}
/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}
input,
select,
textarea {
    max-width: 280px;
}*/
.logo img {
    width: 100px;
    height: 100px;
}
.bootstrap-datetimepicker-widget {
    font-family: "Roboto";
}
.form-control {
    padding: .1rem 0 .3rem;
    line-height: 1.2;
    margin-bottom: 0 !important;
}
.header_tiny {
    height: 70px !important;
    background-color: #6fc7bf;
    color:white;
}
@media (max-width: 768px) {
    #navbarSupportedContent {
       background-color: rgba(0, 0, 0, 0.7);
    }
    .nav-item{
        text-align:right;
        padding-right:15px;
    }
}
.navbar .nav-link {
    font-size: 20px;
}
    .navbar-brand {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: -5px;
        margin-bottom: -45px;
    }

    .navbar:not(.top-nav-collapse) {
        background: 0 0;
        background-color: transparent !important;
    }

    @media (min-width: 769px) {
        .navbar:not(.top-nav-collapse) {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }

    @media (min-width: 600px) {
        .navbar.scrolling-navbar.top-nav-collapse {
            padding-top: 10px;
            padding-bottom: 10px;
            box-shadow: 0 14px 20px -12px rgba(0,0,0,0.3);
            /*background-color:white;
        color:black;
        position:fixed !important;
            top:0;*/
        }
    }

    @media (min-width: 600px) {
        .navbar.scrolling-navbar.top-nav-collapse div .navbar-brand {
            box-shadow: 0 14px 20px -12px rgba(0,0,0,0.5);
            border-radius: 10em;
        }
    }

    .md-pills .nav-link {
        color: #d82364;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
        background-color: #1ee6ac8f;
    }

    @media (max-width: 740px) {
        .full-height, .full-height body, .full-height header, .full-height header .view {
            height: 700px;
        }
    }

    .spa-lp .navbar {
        background-color: #6fc7bf
    }

    @media (max-width:768px) {
        .spa-lp .navbar:not(.top-nav-collapse) {
            background: #6fc7bf
        }
    }


.spa-lp .md-pills.pills-secondary .nav-item .nav-link.active {
    background-color: #2BBBAD !important;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 35px 0 rgba(0,0,0,.3);
}

    /*.spa-lp .btn-primary {
    background: #ff82ad
}

    .spa-lp .btn-primary:focus, .spa-lp .btn-primary:hover {
        background-color: #ff9cbe !important
    }*/

    .spa-lp .pricing-card h4 {
        margin-bottom: 0px;
    }

    .spa-lp .pricing-card .price h6:after {
        content: "₮/60 мин"
    }

    .spa-lp .pricing-card .price h6 {
        margin-bottom: 20px;
    }

    .spa-lp .btn-info:focus, .spa-lp .btn-info:hover {
        background-color: #7cdbff !important
    }

    .card-body h5 {
        font-weight: 500;
        margin-bottom: 6px;
    }

    @media (min-width:1025px) {
        .spa-lp .newsletter img {
            max-width: 104%
        }
    }

    .hm-black-strong-1 .full-bg-img, .hm-black-strong-1 .mask {
        background-color: rgba(0,0,0,.5);
    }

    .background-grey {
        background-color: #eee;
    }

    .background-nomin {
        background-color: #00ADC3;
    }

    .pink-text-2 {
        color: #ff82ad !important;
    }

    .purple-text-2 {
        color: #9958e9 !important;
    }

    .section-scaled {
        /*margin: -110px 30px 0 !important;*/
        border-radius: 10px 10px 0px 0px;
        z-index: 3;
    }

    .section-description {
        color: #333333;
    }

    .tab-icon {
        max-width: 36px;
        max-height: 36px;
    }

    .pricing-card .striped li {
        border-bottom: 1px solid rgba(243, 243, 243, 0.298039);
    }

.text-danger {
    font-size:12px;
}

.zoom img, .zoom video {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.zoom:hover img, .zoom:hover video {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}
.text-muted {
    font-size: 14px;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300
}

.display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2
}

.display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2
}

.display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2
}
.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2
}
.pills-secondary .nav-item{
    width:175px;
}
.branch-address p{
    font-size:14px;
}